
<button class="btn btn-primary" {{action 'showMapMarker' address}}>Show Map</button>

<!-- <button type="button" name="button" {{action "getStuff"}}>GO!!!!</button> -->
{{#each model as |neighborhood|}}
  <!-- {{neighborhood-list neighborhood=neighborhood goToNeighborhood="goToNeighborhood"}} -->
{{/each}}

<div class="map-display" id="map">

</div>
