<div class="well neighbor-well">
<h1>New Neighborhood</h1>
<div class ="address-entry">
  <form>
    <div class="form-group text-input">
      <label for="name">Name</label>
      {{input value=name id="name"}}
    </div>
    <button class="btn-neighborhood-save btn btn-success" {{action 'saveNeighborhood' neighborhood}}>Save</button>
  </form>
</div>
</div>
