<div {{walk}} class="well">
  <h2><strong><span class="fa fa-map-marker"></span> Walk Score: <span id="walkScore"></span></strong></h2>
  <em><h4 id="walkDescription"></h4></em>
</div>
<div {{transit}} class="well">
  <h2><strong><span class="fa fa-bus"></span> Transit Score: <span id="transitScore"></span></strong></h2>
  <em><h4 id="transitDescription"></h4></em>
  <em><h4 id="transitSummary"></h4></em>
</div>
<div {{stolen}} class="well">
  <h2><strong><span class="fa fa-bicycle"></span> Stolen Bikes: <span id="stolen"></span></strong></h2>
  <h4><em>Number of Bikes Stolen Within a 1 Mile Proximity</em></h4>
</div>
<div {{census}} class="well">
  <ul>
    <li id="state"></li>
  </ul>
</div>
