<div {{walk}} class="well">
  <h2><strong><span class="fa fa-map-marker"></span> Walk Score: <span id="walkScore"></span></strong></h2>
  <em><h4 id="walkDescription"></h4></em>
</div>
<div {{transit}} class="well">
  <h2><strong><span class="fa fa-bus"></span> Transit Score: <span id="transitScore"></span></strong></h2>
  <em><h4 id="transitDescription"></h4></em>
  <em><h4 id="transitSummary"></h4></em>
</div>
<div {{stolen}} class="well">
  <h2><strong><span class="fa fa-bicycle"></span> Stolen Bikes: <span id="stolen"></span></strong></h2>
  <h4><em>Number of Bikes Stolen Within a 1 Mile Proximity</em></h4>
</div>
<div {{census}} class="well">
  <ul>
    <h4>Population of Neighborhood: <span id="population"></span></h4>
    <h4>Percentage of Female Residents: <span id="females"></span>%</h4>
    <h4>Percentage of Male Residents: <span id="males"></span>%</h4>
    <h4>Percentage of Residents over 25 with College Degrees: <span id="college"></span>%</h4>
    <h4>Median Household Income: <span id="median"></span></h4>
    <h4>Residents Below the Poverty Level: <span id="poverty"></span></h4>
  </ul>
</div>
