<div {{walk}} class="well">
  <h2><strong><span class="fa fa-map-marker"></span> Walk Score: <span id="walkScore"></span></strong></h2>
  <em><h4 id="walkDescription"></h4></em>
</div>
<div {{transit}} class="well">
  <h2><strong><span class="fa fa-bus"></span> Transit Score: <span id="transitScore"></span></strong></h2>
  <em><h4 id="transitDescription"></h4></em>
  <em><h4 id="transitSummary"></h4></em>
</div>
<div {{stolen}} class="well">
  <h2><strong><span class="fa fa-bicycle"></span> Stolen Bikes: <span id="stolen"></span></strong></h2>
  <h4><em>Number of Bikes Stolen Within a 1 Mile Proximity</em></h4>
</div>

<div {{census}} class="well">
  <h2><strong><span class="fa fa-male"></span> Demographics</strong></h2>
  <h4><em>Population of Neighborhood:  </em><span id="population"></span></h4>
  <h4><em>Female Residents:  </em><span id="females"></span>%</h4>
  <h4><em>Male Residents:  </em><span id="males"></span>%</h4>
  <h4><em>Residents over 25 with College Degrees:  </em><span id="college"></span>%</h4>
  <h4><em>Median Household Income:  </em><span id="median"></span></h4>
  <h4><em>Residents Below the Poverty Level:  </em><span id="poverty"></span></h4>
</div>
