<div class="well">
  <h2 {{walk}}>Walk Score: <span id="walkScore"></span></h2>
  <h3 id="walkDescription"></h3>
</div>
<div class="well">
  <h2 {{transit}}>Transit Score: <span id="transitScore"></span></h2>
  <h3 id="transitDescription"></h3>
  <h3 id="transitSummary"></h3>
</div>
