<div class="container">
  <h1>Neighborly</h1>
  <h2>The premier neighborhood review guide!</h2>
  <hr>
</div>
<div class="outlet container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Neighborly</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/bestPlaces">highest rated neighborhoods<span class="sr-only">(current)</span></a></li>
          <li><a href="worstPlaces">worst rated neighborhoods</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/why">Why do this?</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/team">meet our team</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row">
    <div class="well">
      {{outlet}}
    </div>
  </div>
</div>
