<div class="container">
  <h1>Neighborly</h1>
  <h2>The premier neighborhood review guide!</h2>
  <hr>
</div>

<div class="outlet container">
  <div class="row">
    <div class="well">
      {{outlet}}
    </div>
  </div>
</div>
