<div class="header">
  <div class="container">
    <h1 class="text-center">Neighborly PDX</h1>
  </div>
</div>

<div class="outlet container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <span class="navbar-brand">Neighborly PDX</span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">{{#link-to 'index'}}Home<span class="sr-only">(current)</span>{{/link-to}}</li>
          <li><a href="https://github.com/spburden/neighborly-pdx-ember" target="_blank">View on GitHub</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row">
    <div class="well main-content">
      {{outlet}}
    </div>
  </div>
</div>
