{{neighborhood-form saveNeighborhood="saveNeighborhood"}}
{{google-map model=model findNeighborhood='findNeighborhood' addNewNeighborhood='addNewNeighborhood'}}

{{address-form lookup="lookup"}}
<button {{action 'getWeather'}}>get it</button>
