{{#each model.neighborhood as |neighborhood|}}
  <h3>{{neighborhood.name}}</h3>
  {{review-form neighborhood=neighborhood saveReview="saveReview"}}
  {{neighborhood-map neighborhood=neighborhood}}
{{/each}}
