<ul>
  {{#each model as |address|}}
    <li>{{address.formatted_address}}</li>
  {{/each}}
  </ul>


 {{#each model as |address|}}
    {{google-map address=address}}
{{/each}}



<!-- for i=0, address.address_component.kength; I ++ -->
