<div class="jumbotron">
<div class="row">
    <div class="col-md-3">
      <h2>Stephen Liverpool</h2>
      <h4>Stephen is a really big funny man who is good at computers! </h4>
      <img src="https://avatars3.githubusercontent.com/u/19338159?v=3&s=460" class="teamID" alt="team picture" />
    </div>
    <div class="col-md-3">
      <h2>Andrew Merrell</h2>
      <h4>Andrew is an experienced coder who is the master at ember, I really think that he is the future and is a super nice guy</h4>
      <img src="https://avatars0.githubusercontent.com/u/20763715?v=3&s=460" class="teamID" alt="team picture" />
    </div>
    <div class="col-md-3">
      <h2>Jackson Meyer</h2>
      <h4>I am an american Ninja warrior, and I am funny...kinda, and I think that I will be focused on Android!!  I hope to meet Elon Musk someday and have dinner with him, he is extremely focused and driven, he has started a built and sold many companies and I hope I can do the same.</h4>
      <img src="http://cdn.running.competitor.com/files/2015/05/670A1707.jpg" class="teamID" alt="team picture" />
    </div>
    <div class="col-md-3">
      <h2>Erik krause</h2>
      <h4>erik who is part of the armed forces and I am very proud pf him, he was responsable for the demographic api</h4>
      <img src="http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/A-G/cheetah-watching.jpg.adapt.945.1.jpg" class="teamID" alt="team picture" />
  </div>
</div>

</div>
