<div class="jumbotron">
<h1>Why, why, why?</h1>
<h3>This is an application that showcases what we have learned over the last 5 weeks, API requests, Google map especially, ember helpers, computed properties and we even got to work on our css!!</h3>

<h3>all of us ar Epicodus are extremely hopeful and excited to be coding and learning different javascript frameworks and this let us display our competency</h3>

<h3>FInally, I just wanted to say thankyou to ember, Epicodus, and all the people who have taken a look at our website!! Thankyou, I'll miss ember</h3>
<img src="https://camo.githubusercontent.com/de355e2f73c682d56465859b6ff67ca248cc1e33/687474703a2f2f656d6265726a732e636f6d2f696d616765732f6272616e642f656d6265725f456d6265722d4c696768742e706e67" alt="ember" />
</div>
